---
Checks: '*,
-altera-id-dependent-backward-branch,
-altera-struct-pack-align,
-altera-unroll-loops,
-bugprone-easily-swappable-parameters,
-cert-err58-cpp,
-clang-diagnostic-padded,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-macro-usage,
-fuchsia-default-arguments-calls,
-fuchsia-default-arguments,  
-fuchsia-multiple-inheritance,
-fuchsia-overloaded-operator,
-fuchsia-trailing-return,
-google-explicit-constructor,
-google-runtime-int,
-hicpp-invalid-access-moved,
-hicpp-no-array-decay,
-hicpp-no-malloc,
-hicpp-vararg,
-llvm-header-guard,
-llvmlibc-callee-namespace,
-llvmlibc-implementation-in-namespace,
-llvmlibc-restrict-system-libc-headers,
-misc-definitions-in-headers,
-modernize-concat-nested-namespaces,
-modernize-macro-to-enum,
-modernize-use-trailing-return-type,
-readability-identifier-length,
-readability-magic-numbers,
'
WarningsAsErrors: '*'
HeaderFilterRegex: 'nanobench\.h'
...

